{
	"data": "ENC[AES256_GCM,data:eL/9iGHQMPwZtzwUNlx1KwEAyAFAETEb6BblkPr+arDs3n4Ge7ePLmyMwi43/PVNZh5Rdr0gMzWMgu9IPXCJ676VEVzScsiu+zdecoYyHirpKY39cRy5228ihobn27jQ+9hk9cp4Qf64Mk3ltwhZfEdUBFYRhrh1mH3pdOoymn6EbT80Y+EPLfhFZXeweW/4zDoTP5jdSID7SQhQ5p4OZ5b3/NxjL9l2Y72qRm9Vyb6KZY7/FknfGuHjYuaadr0k2FgWlcxL7/vRuvghrTwAc9KCcjziib6epVATF8bK0t6fMcM8ZuCjjXQHr+ElUQYbtquGmBQjAdyGVS/AdZheiKzlM5w1VA6xrP/YJH4Zd2irn3Q+b6P6fW2rUo/L4PGO83k18FMYnqJqBOrPm0HsLVNwKS211Er6L+oxGrjXMRL8u2Lt6tLRK+Fv2SVN3R7fO/ahTQvXIRCmFU5hpc7BJNxxeF+ZzhtrJBEDn0EVAd8WGuLZk6HgiojHS2PE7Lnm9RbKNhKVUpLrwE8CN1G3eRPJPXBpR+PLdJWqqt+tUGF80nvwqZLcRmadL8zsBSe5kZAXwjidXtO2HTNv/UgFUBbfZEInABtepOMb2yiYrZhIUtflYfaBQuQ8C6r7x+tY2jcdzxItOIM0m8AAFF4Z9h4edobZrlXYWgQqVVG4RFF9quSKP04ylA==,iv:3pLzeteNKXqjY1+nZzfETwNX98rnOb+DmngD9sSAvRs=,tag:d+DBwcUZdYfSk8kyYBeA/w==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": null,
		"lastmodified": "2024-10-20T20:04:11Z",
		"mac": "ENC[AES256_GCM,data:2ktF9Db5Y+h7u7H5/GEWQn/XnyAyBBO+Mi7o47q9z9T7YWJ7B+eLPY9Q/te2/hriS2JRanIfw2Mq9Q6oDlm0Q800o4v+3Om4gTLEfBryCfBRBsEBleT5XO+kJu97FvaysW4g9T0cDC6/NUpJleSrqBgbE2AoeLwJBKITwtuUzGo=,iv:DLTXKpwUwvXCdWsQQuSAt5CVLxTx9ED58ZdLf60neO0=,tag:ZD6klFTaYy/sZCcPCa110Q==,type:str]",
		"pgp": [
			{
				"created_at": "2024-10-20T19:52:13Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhQIMA8tJinaFoyA8AQ/+L4qwCotjc40dh11i2jmIsHE15a5EY/lDMNTKRKhWorwj\nuxTqgLJClAjzXmk2Yf4bM5e67zMv88yb4Ldy5JhZLiIYU8A84Qf37VYo9t6wV2DX\nxisfltLXIoKbM182hTV0wcuaIiCRU/Y8w5DxyFSE8yUjgkcaj0AdYmh0du0XiiNx\nt2gWG3PWnwi4BdBoasKImwszvm2ZX4fqPW2/Es1SRwlcM2ie+I1Du88NQlgo45MZ\nqoXEB03mZfMxgnnqQS7bdB2bCiGf2M9KxYxWlCvMTIeiGzAgtI7K7RQEtKw/oBm0\np2DFwy8m+Ww5A3T/7BgQpi0xwn+JzzIsv4oVwZyFiRfuiFoX3j/uM4pL02vbuEMQ\nzLv0nELiq2O/JTAVAoBQ3KOqpLuhTV8w5g85Hnc+2xD78oBxqmwYvE0/Sk2GAeGg\ndZ+Kv5ZsEO3rtSpjFppr2EmaufAXio1iSyg95pRurYLpjJIxbD5e87dwTPaG9Lmb\nth1PUDIfSmeADU3Zpp4zkpB7xWMKjD6TDu+Aig4QmtrQdPZP0G8Q5eWHlFe0AXfh\nVw23gss6/oJltlDjoYbh9R1Qui3SSn5bFKdHlsfu9uu0WFVjUynVg9uWnaxt0pI/\necX4cKFvAxfyBh9WmM84jaZwkME/OjQxcVsDh2zqI6Bt3y/5qabzSov+kqQNqX7S\nXAERTp+/LOqzitzqd1Z76mxJkiRkkqQat8PozXchANcAavza6wHBWdI6+Xs3qxRp\n2WwCmk15g6ZqQXjXsCUQ4uuKeQhYnka7cfNckyLkBgg8MyCxVC9zCKbhNnHU\n=cbJX\n-----END PGP MESSAGE-----",
				"fp": "982a193e3ce0eed535e09023188cbb2648416ad5"
			}
		],
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.0"
	}
}